.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .cart-btn,
  .clear-cart-btn,
  .logout-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .clear-cart-link {
    display: inline-block;
    padding: 5px 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .add-to-cart-btn {
    display: inline-block;
    padding: 5px 10px;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
  }
  