   /* Стили для контейнера */
   .container {
     width: 80%;
     margin: 0 auto;
     text-align: center;
   }

   /* Стили для заголовка */
   .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
   }

   .header h1 {
     font-size: 36px;
     font-weight: bold;
   }

   /* Стили для кнопок */
   .cart-btn,
   .add-to-cart-btn,
   .clear-cart-link {
     display: inline-block;
     padding: 10px 20px;
     margin: 0 10px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     background-color: #2ecc71;
     cursor: pointer;
     transition: background-color 0.2s ease;
   }

   .cart-btn:hover,
   .add-to-cart-btn:hover,
   .clear-cart-link:hover {
     background-color: #27ae60;
   }

   /* Стили для таблицы */
   table {
     width: 100%;
     border-collapse: collapse;
     margin-bottom: 20px;
   }

   table th,
   table td {
     padding: 10px;
     border: 1px solid #ddd;
     text-align: left;
   }

   table th {
     background-color: #f2f2f2;
     font-weight: bold;
   }

   table tr:nth-child(even) {
     background-color: #f9f9f9;
   }

   table tr:hover {
     background-color: #f2f2f2;
   }

   table td:last-child {
     text-align: center;
   }

   .cart-btn {
     text-decoration: none;
   }


   .clear-cart-link {
     text-decoration: none;
   }

   .clear-cart-btn {
     display: inline-block;
     padding: 10px 20px;
     margin: 0 10px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     background-color: #4CAF50;
     cursor: pointer;
     transition: background-color 0.2s ease;
     position: relative;
     top: 0px;
     left: -10px;
   }

   .buy-product-btn {
     display: inline-block;
     padding: 10px 20px;
     margin: 0 10px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     background-color: #4CAF50;
     cursor: pointer;
     transition: background-color 0.2s ease;
     position: relative;
     top: 0px;
     left: 10px;
   }

   .delete-product-btn {
     display: inline-block;
     padding: 10px 20px;
     margin: 0 10px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     background-color: #4CAF50;
     cursor: pointer;
     transition: background-color 0.2s ease;
     position: relative;
     text-decoration: none;

   }

   .cart-btn_1 {
     display: inline-block;
     padding: 10px 20px;
     margin: 0 10px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     background-color: #4CAF50;
     cursor: pointer;
     transition: background-color 0.2s ease;
   }