body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 30px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
}

form::before {
    content: "";
    position: relative;
    top: -10px;
    left: 110px;
    right: -10px;
    bottom: -10px;
    border-radius: 10px;
    pointer-events: none;
}

label {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type=password] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
}

input[type=password]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0px 0px 5px 0px rgba(76, 175, 80, 0.5);
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #368c3a;
}

.error-message {
    font-size: 18px;
    color: rgb(255, 0, 0);
    margin-top: 10px;
}

.profile-btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-decoration: none;
}

.profile-btn:hover {
    background-color: #368c3a;
}