body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    max-width: 50%;
    max-height: 50%;
    margin-bottom: 10%;
}

a.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

#login {
    position: relative;
    top: -130px;
    left: -10px;
}

#register {
    position: relative;
    top: -130px;
    left: 0px;
}

#login:hover {
    background-color: #368c3a;
}

#register:hover {
    background-color: #368c3a;
}