* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

form {
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 400px;
}

form h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

form .error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

form p {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
}

form p a {
    color: #4CAF50;
    text-decoration: none;
}

form p a:hover {
    text-decoration: underline;
}

form input[type="submit"]:hover {
    background-color: #368c3a;
}