
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.x {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 50px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #4CAF50;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-decoration: none;
}

button:hover {
  background-color: #368c3a;
}

